extends ./layout/index

block contenido 
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen-nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Bienvenidos a Agencia Naft, donde los sueños de viaje se hacen realidad. Nuestro equipo de expertos está aquí para transformar sus aspiraciones en experiencias inolvidables. Ya sea una escapada relajante o una aventura llena de adrenalina, diseñamos itinerarios únicos y personalizados que reflejan sus deseos. Con un compromiso hacia el turismo sostenible, explorará el mundo de manera ética y emocionante. Descubra destinos inspiradores y paquetes cuidadosamente creados en nuestro sitio web. Su viaje excepcional comienza aquí.¡Aventurémonos juntos, El Equipo de Agencia Naft

                p Explore nuestro sitio web para descubrir una amplia gama de destinos inspiradores y paquetes de viaje meticulosamente diseñados. Permítanos convertir sus anhelos de viaje en vivencias extraordinarias que atesorará de por vida.

                p Le damos la bienvenida a un viaje que va más allá de las fronteras. Le damos la bienvenida a  Agencia Naft, donde cada viaje es una obra maestra en sí misma.

                p Descubra el mundo con nosotros, El Equipo de Agencia Naft

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Su seguridad es primordial. Cada acción que tomamos está diseñada para protegerlo en todo momento.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Explora destinos fascinantes con nosotros. Desde maravillas urbanas hasta paraísos naturales, te llevamos a lugares que inspiran asombro. Tu próxima aventura está a solo un paso de distancia.
   
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Descubre una gama de opciones a precios que se adaptan a tu presupuesto. Viaja sin comprometer la calidad y vive experiencias inolvidables con costos que te sorprenderán gratamente.
   
